body {
  font-size: 30px;
  height: 870px;
  line-height: 1.5;
  background-image: linear-gradient(120deg, #8183f5, #56219b);;
}


.js-clock h1 {
  
  font-size: 40px;
  display: block;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 50px;
}

.js-form,
.js-toDoForm {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
}
input {
  width: 300px;
  height: 32px;
  font-size: 22px;
  font-weight: 400;
  border: 2px solid rgb(41, 52, 150);
  border-radius: 10px;
  outline: none;
}

.form,
.greeting {
  display: none;
}


.js-toDoList {
  margin-top: 20px;
  margin-left: 50px;
}

.showing {
  margin-top: 20px;
  margin-left: 50px;

  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;
  animation: fadeIn 1s linear;
}